#logger-messages {
  pre {
    color: $text-color;
    margin-bottom: 0;
    padding: 0.25rem;
    font-size: 0.75rem;

    &:hover {
      background-color: $gray-light;
    }

    &.log-level-debug {
      color: change-color($text-color, $alpha: 0.75);
    }
  }
}
