.progress-section {
  // Bootstrap progress bar with added border radius
  .progress {
    border-radius: 0.5rem;
  }

  .progress-section-percent {
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 1.75rem;
    padding-top: 0.25rem;
  }
}
