<header class="d-flex">
  <div class="container d-flex flex-column">
    <h1>Phoenix LiveDashboard</h1>
    <nav id="menu-bar">
      <%= live_render @socket, Phoenix.LiveDashboard.MenuLive, id: "menu", session: %{"menu" => @menu} %>
    </nav>
  </div>
</header>
<section id="title-section">
  <div class="container">
    <h1 class="pt-2">Section Title</h1>
  </div>
</section>
<section id="main" role="main" class="container">
  <%= @inner_content %>
</section>
