.background-elixir {
  background: linear-gradient(40deg, $color-elixir-500, $color-elixir-accent);
}

.background-phoenix {
  background: linear-gradient(40deg, $color-phoenix-500, $color-phoenix-accent);
}

.background-dashboard {
  background: linear-gradient(40deg, $color-dashboard-500, $color-dashboard-accent);
}
