html {
  background-color: $gray;
  background: linear-gradient(-15deg, $gray, lighten($gray, 5%));
  background-size: cover;
  background-repeat: repeat-x;
  min-height: 100%;
}

body {
  background-color: transparent;
  color: $text-color;
  font-size: 16px;
  line-height: 1.5;
}

header {
  background-color: $purple-darker;
  // background: linear-gradient(to right, #F16529, #E44D26); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 200px;

  h1 {
    color: #fff;
  }

  #menu-bar {
    margin-top: auto;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    background-color: #fff;
    display: inline-block;
    margin-bottom: -1.5rem;
    padding: 0 0.75rem;

    a, span {
      display: inline-block;
      padding: 0.75rem;

      border: 2px solid transparent;
      border-width: 2px 0 2px 0;

      &:hover {
        border-bottom: 2px solid red;
      }
    }
  }

  .container {
    position: relative;
  }

  #node-selection {
    position: absolute;
    top: 0;
    right: 0;
  }
}

#main {
  padding-top: 2.5rem;
}

.section-title {
  padding-bottom: 0.75rem;
}

.card {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  border: none;
  /* padding: 1.25rem; */

  /*
  h2 {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
  }
  */
}

.data-card {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  color: white;
  background-color: red;
  padding: 0.75rem;
}

.data-card-title {
  margin-bottom: 0.25rem;
}

.data-card-value {
  font-size: 1.5rem;
  font-weight: bold;
}

.system-info-versions {
  .col {
    padding: 0 0.5rem;
  }

  .row {
    margin: 0 -0.5rem;
  }
}

.charts-col {
  margin-bottom: 2rem;

  .card {
    padding: 0.5rem;
  }
}
