body {
  background-color: $gray-lighter;
  font-size: 16px;
  line-height: 1.5;
}

header {
  background-color: $purple-darker;
  // background: linear-gradient(to right, #F16529, #E44D26); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 200px;

  h1 {
    color: #fff;
  }

  #menu-bar {
    margin-top: auto;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    background-color: #fff;
    display: inline-block;
    margin-bottom: -1.5rem;
    padding: 0.75rem 1.25rem;

    a, span {
      padding-right: 0.75rem;
    }
  }

  .container {
    position: relative;
  }

  #node-selection {
    position: absolute;
    top: 0;
    right: 0;
  }
}

#main {
  padding-top: 2.5rem;
}

.box-cell {
  background-color: #fff;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 1.25rem;

  h2 {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
  }
}
