// Basic Layout and core styles
html {
  background-color: $gray;
  background: linear-gradient(-15deg, $gray, lighten($gray, 5%));
  background-size: cover;
  background-repeat: repeat-x;
  min-height: 100%;
}

body {
  background-color: transparent;
  color: $text-color;
  font-size: 16px;
  line-height: 1.5;
}

#title-section {
  background-color: change-color(#fff, $alpha: 0.75);
  padding: 2.5rem 0 1rem;
  margin-bottom: 1.5rem;
  h1 {
    font-size: 1.75rem;
  }
}
