//== Colors
$purple: #684ea6;
$purple-darker: #241d33;

$border-radius: 6px;

$gray-darker: darken(#dae0ee, 10%);
$gray: #dae0ee;
$gray-light: lighten($gray, 10%);
$gray-lighter: lighten($gray, 20%);

$text-color: #555b68;
$text-muted: change-color($text-color, $alpha: 0.5);


//$box-shadow: 0 2px 5px rgba(0, 0, 0, .01), 0 7px 20px rgba(0, 0, 0,.045);
$box-shadow: 0 2px 5px change-color($gray-darker, $alpha: 0.5), 0 7px 20px change-color($gray-darker, $alpha: 0.75);
