$theme-color-interval: 8%;

@function tint-color($color, $level) {
  @return mix(white, $color, $level * $theme-color-interval);
}

@function shade-color($color, $level) {
  @return mix(black, $color, $level * $theme-color-interval);
}

//== Colors
$purple: #684ea6;
$purple-darker: #241d33;

$border-radius: 6px;

$gray: #dae0ee;
$gray-light: tint-color($gray, 2);
$color-gray-900: tint-color($gray, 8);
$gray-darker: darken($gray, 10%);
$gray-dark: darken($gray, 5%);

$text-color: #555b68;


//$box-shadow: 0 2px 5px rgba(0, 0, 0, .01), 0 7px 20px rgba(0, 0, 0,.045);
$box-shadow: 0 2px 5px change-color($gray-darker, $alpha: 0.5), 0 7px 20px change-color($gray-darker, $alpha: 0.75);
$box-shadow-lighter: 0 2px 5px change-color($gray-darker, $alpha: 0.15), 0 7px 20px change-color($gray-darker, $alpha: 0.3);

// Custom colors
$color-elixir: #754fa2;
$color-elixir-accent: #6979db;
$color-phoenix: #f26d40;
$color-phoenix-accent: #dfa843;
$color-dashboard: #4575cf;
$color-dashboard-accent: #36a4ee;


$color-elixir-100: tint-color($color-elixir, 8);
$color-elixir-200: tint-color($color-elixir, 6);
$color-elixir-300: tint-color($color-elixir, 4);
$color-elixir-400: tint-color($color-elixir, 2);
$color-elixir-500: $color-elixir;
$color-elixir-600: shade-color($color-elixir, 2);
$color-elixir-700: shade-color($color-elixir, 4);
$color-elixir-800: shade-color($color-elixir, 6);
$color-elixir-900: shade-color($color-elixir, 8);

$color-phoenix-400: tint-color($color-phoenix, 2);
$color-phoenix-500: $color-phoenix;

$color-dashboard-500: $color-dashboard;
$color-dashboard-800: shade-color($color-dashboard, 6);

$primary: $color-dashboard;
$color-header: #4a4473;

// Grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Bootstrap variables
$text-muted: change-color($text-color, $alpha: 0.5);
$grid-gutter-width: 24px;
$font-family-sans-serif: 'Muli', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

