@import "~bootstrap/scss/bootstrap";
@import "../node_modules/nprogress/nprogress.css";

@import "./app/variables";
@import "./app/layout";

@import "./app/components/progress_section";


/* LiveView specific classes for your customizations */
.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}

.phx-disconnected *{
  pointer-events: none;
}

/* App metrics */
.phx-dashboard-metrics-grid {
}

.phx-dashboard-metrics-col {
  flex: 1;
  flex-basis: 527px;
  min-width: 0;
}

@media (min-width: 40.0rem) {
  .phx-dashboard-metrics-col {
    flex-basis: 327px;
  }
}
